<p id="notice"><%= notice %></p>

<h1>Admin Fashions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_fashions.each do |admin_fashion| %>
      <tr>
        <td><%= link_to 'Show', admin_fashion %></td>
        <td><%= link_to 'Edit', edit_admin_fashion_path(admin_fashion) %></td>
        <td><%= link_to 'Destroy', admin_fashion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Fashion', new_admin_fashion_path %>
