<p id="notice"><%= notice %></p>

<h1>Admin Biographies</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Visible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_biographies.each do |admin_biography| %>
      <tr>
        <td><%= admin_biography.message %></td>
        <td><%= admin_biography.visible %></td>
        <td><%= link_to 'Show', admin_biography %></td>
        <td><%= link_to 'Edit', edit_admin_biography_path(admin_biography) %></td>
        <td><%= link_to 'Destroy', admin_biography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Biography', new_admin_biography_path %>
