<p id="notice"><%= notice %></p>

<h1>Admin Commercials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Order</th>
      <th>Show</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_commercials.each do |admin_commercial| %>
      <tr>
        <td><%= admin_commercial.name %></td>
        <td><%= admin_commercial.description %></td>
        <td><%= admin_commercial.order %></td>
        <td><%= admin_commercial.show ? "SI" : "NO" %></td>
        <td><%= admin_commercial.active %></td>
        <td><%= link_to 'Show', admin_commercial %></td>
        <td><%= link_to 'Edit', edit_admin_commercial_path(admin_commercial) %></td>
        <td><%= link_to 'Destroy', admin_commercial, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beauty', new_admin_commercial_path %>
