<p id="notice"><%= notice %></p>

<h1>Cyclorosses</h1>

<table>
  <thead>
    <tr>
        <th colspan="">Nombre</th>
        <th colspan="">Descripcion</th>
        <th colspan="">Mostrar</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cyclorosses.each do |cycloross| %>
      <tr>
          <td><%=cycloross.name %></td>
          <td><%= cycloross.description %></td>
          <td><%= cycloross.show ? "SI" : "NO" %></td>
          <td><%= link_to 'Show', admin_cycloross_path(cycloross) %></td>
          <td><%= link_to 'Edit', edit_admin_cycloross_path(cycloross) %></td>
          <td><%= link_to 'Destroy', admin_cycloross_path(cycloross), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cycloross', new_admin_cycloross_path %>
