<p id="notice"><%= notice %></p>

<h1>Admin Beauties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Order</th>
      <th>Show</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_beauties.each do |admin_beauty| %>
      <tr>
        <td><%= admin_beauty.name %></td>
        <td><%= admin_beauty.description %></td>
        <td><%= admin_beauty.order %></td>
        <td><%= admin_beauty.show ? "SI" : "NO" %></td>
        <td><%= admin_beauty.active %></td>
        <td><%= link_to 'Show', admin_beauty %></td>
        <td><%= link_to 'Edit', edit_admin_beauty_path(admin_beauty) %></td>
        <td><%= link_to 'Destroy', admin_beauty, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beauty', new_admin_beauty_path %>
