
<%= simple_form_for(@admin_jewelry) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :order %>
  <%= f.input :show %>

  <%= f.input :photo, as: :file %>
  <%=admin_jewelry.photo.present? ? image_tag(admin_jewelry.photo.url): ""   %>

  <div class="actions">
  <%= f.button :submit , "Grabar" %>
  </div>
<% end %>
