<p id="notice"><%= notice %></p>

<h1>Admin Jewelries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_jewelries.each do |admin_jewelry| %>
      <tr>
        <td><%= link_to 'Show', admin_jewelry %></td>
        <td><%= link_to 'Edit', edit_admin_jewelry_path(admin_jewelry) %></td>
        <td><%= link_to 'Destroy', admin_jewelry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Jewelry', new_admin_jewelry_path %>
