<nav class="col-md-2 d-none d-md-block  sidebar">
    <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
    <p>Dummy Heading</p>
    <li class="active">
    <%=link_to "Cyclocross", controller: "main", action: "cyclocross" %>
    </li>
    <li>
    <%=link_to "Portrait", controller: "main", action: "portrait" %>
    </li>
    <li>
    <%=link_to "Sport", controller: "main", action: "sport" %>
    </li>
    <li>
    <%=link_to "Editorial", controller: "main", action: "editorial" %>
    </li>
    <li>
    <%=link_to "Blog", controller: "main", action: "blog" %>
    </li>
    <li>
    <%=link_to "Contact", controller: "main", action: "contact" %>   
    </li>
    </ul>
</nav>