
<nav class="col-md-2 d-none d-md-block  sidebar mt-5 ml-5">
    <div class="sidebar-header">
    <h3 class="h2 font-weight-bold">XURDE PASTOR</h3>
    </div>

    <ul class="list-unstyled components">
    <!--<p>Dummy Heading</p>-->

    <li class="active">    
    <%=link_to 'Portfolio Manintenance', admin_portfolios_path %>
    </li>

    <li class="Bea">    
    <%=link_to 'Beauty Manintenance', admin_beauties_path %>
    </li>
    <li class="Bea">    
    <%=link_to 'Fashion Manintenance', admin_fashions_path %>
    </li>
    <li class="Bea">    
    <%=link_to 'Commercial Manintenance', admin_commercials_path %>
    </li>

    <li class="Bea">    
    <%=link_to 'Jewelry Manintenance', admin_jewelries_path %>
    </li>

    <li class="Bea">    
    <%=link_to 'Service Manintenance', admin_services_path %>
    </li>
    <li class="Bea">    
    <%=link_to 'Biography Manintenance', admin_biographies_path %>
    </li>
    
    
</nav>