<nav class="col-md-2 d-none d-md-block  sidebar">
    <div class="sidebar-header">
    <h3>Bootstrap Sidebar ADMIN</h3>
    </div>

    <ul class="list-unstyled components">
    <p>Dummy Heading</p>

    <li class="active">    
    <%=link_to 'Portfolio Mant', admin_portfolios_path %>
    </li>

    <li class="Bea">    
    <%=link_to 'Beauty Mant', admin_beauties_path %>
    </li>
    <li class="Bea">    
    <%=link_to 'Fashion Mant', admin_fashions_path %>
    </li>
    <li class="Bea">    
    <%=link_to 'Commercial Mant', admin_commercials_path %>
    </li>

    <li class="Bea">    
    <%=link_to 'Jewelry Mant', admin_jewelries_path %>
    </li>
    
</nav>