<!DOCTYPE html>
<html>
  <head>
    <title>XURDE PASTOR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="container-fluid">
        <div class="row">        
            <%= render "layouts/sidebar" %>
            <div class="col-md-10">
            <%= yield %>
            </div>
        </div>
      </div>
  </body>
  <br>
  <br>
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright -  Xurde Pastor
    </div>
    <!-- Copyright -->
  </footer>

</html>

<style>
    a { color: #343a40; } /* CSS link color */
</style>
